.box {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.content-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
}

.nav-text {
    position: absolute;
    font-size: 15px;
    bottom: -5px;
}

nav > div:nth-child(1) > img {
    position: absolute;
    top: 10px;
}

nav > div:nth-child(2) > img {
    position: absolute;
    top: 3px;
}

nav > div:nth-child(3) > img {
    position: absolute;
    top: 7px;
}

nav > div:nth-child(4) > img {
    position: absolute;
    top: 8px;
}