.box {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.temp-box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    text-align: center;
}

.temp {
    font-size: 45px;
    font-weight: 600;
    margin-top: 25px;
}

.temp-sensory {
    margin-top: 11px;
    font-size: 23px;
}

.temp-yest {
    margin-top: 25px;
    font-size: 27px;
}

.weather-text {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 20px;
}

.figure {
    /* margin-top: 3px; */
    font-size: 15px;
    font-weight: 700;
}

.weather-summary {
    display: flex;
    margin-top: 38px;
    justify-content: space-around;
}